/*for development <-----*/
div { 
  border: 1px solid black;
}

body {
    /*FONT*/
  font-family: "Exo", sans-serif !important;
  font-optical-sizing: auto;
  font-weight: 486;
  font-style: normal;
    /******/
  background-color: #E6E6E6;
}

p{
  font-size: medium;
}

#logo{
  text-align: left !important;
  font-size:  38px;
  color: #E6E6E6 !important;
}

#logo:hover, button:hover {
  color: #BC9D63 !important;
}

a{
  color: #E6E6E6 !important;
}

h1, h5, p{
  color: #0f0f0fdc !important;
}

.custom-icon{
  color:#BC9D63 !important;
}

a:hover{
  color: #BC9D63 !important;
}

.navbar-expand-lg .navbar-collapse {
  justify-content: flex-end;
}

.custom-form{
  min-width: 350px;
}