/*for development <-----*/
/*div { 
  border: 1px solid black;
}*/

body {
    /*FONT*/
  font-family: "Exo", sans-serif !important;
  font-optical-sizing: auto;
  font-weight: 486;
  font-style: normal;
    /******/
  background-color: #E6E6E6;
}

p{
  font-size: medium;
}

#logo{
  text-align: left !important;
  font-size:  38px;
  color: #532E1C !important;
}

#logo:hover{
  color: #0F0F0F !important;
}

h1{
  color: #532E1C !important;
}

a, h5, p{
  color: #0F0F0F !important;
}

a:hover{
  color: #532E1C !important;
}

.navbar-expand-lg .navbar-collapse {
  justify-content: flex-end;
}

.custom-form{
  min-width: 450px;
}